*{
    margin: 0;
    padding: 0;
    font: 300;
    font-family: Sans-serif ,Arial, Helvetica;
}

body{
    height: 100%;
}

header{
    background-color: #1c1c1c;
    color: #FBFBFB;
    display: flex;
    top: 0;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}


header ul{
    list-style-type: none;
    white-space:nowrap;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


header ul li{
    display: inline-block;
}


header ul li a{
    text-decoration: none;
    color: #f0efef;
    font-size: 20px;
}


header ul li a:hover{
    color: #FFFFFF;
    filter: brightness(150%);
}

div{
    margin-bottom: 4%;
}

h1{
    font-size: 8vw;
    margin-bottom: 10px;
}

h2{
    font-size: 7vw;
}

h3{
    font-size: 6vw;
}

h4{
    font-size: 5vw;
}

h5{
    font-size: 4vw;
}

h6{
    font-size: 3vw;
}

p{
    font-size: 1.2vw;
}

.main-container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-container{
    width: 35%;
}

.img-container img{
    width: 100%;
}

.text-container{
    text-align: justify;
    margin-left: 5%;
    width: 65%;
}

.container-exp{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 70vh;
}

.exp-text{
    width: 70%;
    height: 70vh;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background: #1c1c1c;
    text-align: justify;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.exp-img{
    padding-top: 5vh;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    height: 70vh;
    
}

.exp-img img{
    
}

.exp-text p{
    color: #FBFBFB;
    margin: 20%;
}

.exp-text ul{
    color: #FBFBFB;
    transform: skew(20deg);
    font-size: 2vw;
    margin-top: 4vh;
}